<div id="highlight-tooltip" role="tooltip">
  <a class="highlight-tooltip-link highlight-tooltip-link-tweet" href="#" target="_blank">
    <i class="fab fa-twitter"></i>
    <span class="sr-only">Share on Twitter</span>
  </a>
  <div id="highlight-tooltip-arrow" data-popper-arrow></div>
</div>
